<footer>
  <div class="footer-outer-box">
    <div class="footer-box-1">Copyright © <%= new Date().getFullYear() %></div>

    <div class="footer-box-2">
      Made with 💙 and ☕ by
      <a href="https://avm08122005.github.io/my-portfolio/" target="_blank"
        >Achintya Mahajan</a
      >
    </div>
  </div>
</footer>
